@inherits LayoutComponentBase

<div id="app">
    <header class="top-bar">
        <a class="logo" href="">
            <img src="images/logo1.png" />
        </a>
    </header>

    <div class="section columns">
        <main class="column">
            @Body
        </main>
    </div>

    <footer>
        &copy; ToBeer List @DateTime.UtcNow.Year
    </footer>
</div>