@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [AllowAnonymous]

<div id="app">
    <header class="top-bar">
        <a class="logo" href="">
            <img src="images/logo1.png" />
        </a>
        <div style="margin-left: auto; margin-right: 0;">
            <LoginDisplay />
        </div>
    </header>

    <div class="section columns">
        
        <main class="column">
            
            @Body
        </main>
    </div>

    <footer>
        &copy; ToBeer List @DateTime.UtcNow.Year
    </footer>
</div>